extends layout

block content
    br
    p.display-4.text-center.text-secondary.bg-light Insert item to Advertise portal for selling it.
    form(method='POST' action='/insert')
        .form-group
            label(for='item') Name of the Item:
            input#username.form-control(type='text' placeholder='Enter Item Name' name='itemName')
        .form-group
            label(for='description') Description:
            input#password.form-control(type='text' placeholder='Enter description' name='description')
        .form-group
            label(for='price') Price:
            input#password.form-control(type='text' placeholder='Price of the product' name='price')
        .form-group
            label(for='condition') Condition:
            input#password.form-control(type='text' placeholder='Condition of the product' name='condition')
        input(type='submit' value='Add').btn.btn-info
        